.alignFilter {
    // margin-right: 1px ;
    // margin-top: 5px;
    align-self: center;
}

.toastCloseButton {
    // --button-color: white;
    // color: white !important;
    background-color: white;
    // border-style: double;
    // padding: 5px;
}
.toast-button{
    background-color: white !important;
}