<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>
            Item list
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-dealer-name-strip #dealerNameStrip [(isDataLoaded)]="commonData.dealer" (dealerChanged)="dealerChanged()">
    </app-dealer-name-strip>

    <ion-searchbar color="light" #search animated autocomplete="on"
        placeholder="Search items by name, description, manufacturer or category"
        (ionInput)="filterDataOnSearchText($event)"></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content>
            <ion-label>Total: {{recordCount}}</ion-label>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showItemDetail(null)">
            <!-- <ion-fab-button routerLink="/items/detail"> -->
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ng-container>
        <ion-card *ngFor="let item of itemList">
            <ion-item>
                <ion-thumbnail slot="start" size="small">
                    <img *ngIf="item.itemImageThumURL" [alt]="item.itemName" [src]="item.itemImageThumURL">
                    <img *ngIf="!item.itemImageThumURL" [alt]="item.itemName" src="../../../assets//icon//camera.png">
                </ion-thumbnail>

                <ion-label class="ion-text-wrap">{{item.itemName}}</ion-label>
                <ion-icon (click)="showItemDetail(item.itemID)" slot="end" name="create-outline"></ion-icon>
                <!-- <ion-icon slot="end" name="trash-outline"></ion-icon> -->
                <ion-icon (click)="showItemPackageDetail(item, null)" slot="end" name="add-circle-outline"></ion-icon>
            </ion-item>

            <ion-card-content>
                <p>Category: <b>{{item.category}}</b></p>
                <p>Manufacturer: <b>{{item.manufacturer}}</b></p>
                <div [innerHTML]="item.itemDescription"></div>

                <ng-container *ngFor="let p of item.itemPackages">
                    <ion-chip (click)="showItemPackageDetail(item, p.itemPackageID)" color="primary" outline="true">
                        <ion-label color="danger">{{p.packageSize}} {{p.packageUnit}}</ion-label>
                    </ion-chip>
                </ng-container>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-content>