<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Terms Of Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <h3 class="legal-title">Welcome to Online order processing App</h3>
  <p class="legal-text">
    Comming soon.
  </p>
  <h3 class="legal-title">Using our services</h3>
  <p class="legal-text">
    Comming soon.
  </p>
  <h3 class="legal-title">About these terms</h3>
  <p class="legal-text">
    Comming soon.
  </p>
</ion-content>