<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Privacy Policy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <h3 class="legal-title">Welcome to Online order processing App</h3>
  <p class="legal-text">
    Comming soon.
  </p>
  <h3 class="legal-title">Using our services</h3>
  <p class="legal-text">
    Comming soon.
  </p>
  <h3 class="legal-title">About this privacy policy</h3>
  <p class="legal-text">
    mvp-ops.web.app knows that you care how information about you is used and shared and we appreciate your trust in us
    to do that carefully and sensibly. This notice describes the privacy policy of mvp-ops.web.app. By visiting
    mvp-ops.web.app, you are accepting and consenting to the practices described in this Privacy Notice.
  </p>
</ion-content>